# Ignore Directory
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/

# Ignore Resources
Assets/Resources
Assets/Animation
Assets/Customizable Skybox
Assets/PolygonParticleFX
Assets/SD_Project

# Ignore File
*.unity
*.csproj
*.sln
*.meta
*.mat
*.vsconfig
*.txt
*.renderTexture
*.prefab
*.png
*.user
*.shadervariants
*.controller