# Ignore Directory
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/

# Ignore Resources
Assets/Scenes
Assets/Resources
Assets/Animation
Assets/Customizable Skybox
Assets/PolygonParticleFX
Assets/SD_Project
Assets/Plugins
Assets/GrassRoadRace
Assets/GUI PRO Kit - Fantasy RPG
Assets/TextMesh Pro
Assets/Fonts
Assets/Polygonal Metalon
Assets/Cartoon_Weapon_Pack
Assets/Alstra Infinite
Assets/Stylized_Pirate_Ship
Assets/MeshCombineResult
Assets/Standard Assets
Assets/StarterAssets

# Ignore File
*.dll
*.unity
*.csproj
*.sln
*.meta
*.mat
*.vsconfig
*.txt
*.renderTexture
*.prefab
*.png
*.user
*.shadervariants
*.controller